Flask==3.1.0
langchain==0.3.24
langchain-community==0.3.22
langchain-core==0.3.56
langchain-text-splitters==0.3.8
openai==1.76.0
faiss-cpu==1.10.0
python-dotenv==1.1.0
PyPDF2==3.0.1
numpy==1.26.4
pypdf==5.4.0
